
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Doğrulama</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <div class="container">
        <div id="loginbox" style="margin-top:125px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Hoşgeldiniz</div>
                </div>

                <div style="padding-top:30px;text-align:center" class="panel-body">
                    <h4>Hesabınız başarıyla doğrulandı</h4><a href="~/Account/Login" >Giriş yapmak için tıklayınız..</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
