@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifre sıfırlama</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <div class="container">
        <div id="loginbox" style="margin-top:125px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Şifre Sıfırlama</div>
                </div>
                <div style="padding-top:30px;text-align:center" class="panel-body">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-info" style="text-align:center">
                            @TempData["message"]
                        </div>
                    }
                    <form asp-controller="Account" asp-action="ForgotPassword">
                        <div class="form-group row">
                            <label for="full_name" class="col-md-4 col-form-label text-md-right">Mail Adresiniz</label>
                            <div class="col-md-6">
                                <input type="text" name="email" class="form-control" placeholder="örnek@gmail.com" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Şifre Sıfırlama kodunu gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
