
@{
    Layout = null;
}
@model UserSystemProject.Models.Account.ResetPasswordViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SifreSıfırla</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="container">
        <div id="loginbox" style="margin-top:125px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Şifre Sıfırlama</div>
                </div>
                <div style="padding-top:30px;text-align:center" class="panel-body">
                 @if (TempData["message"]!=null)
                 {
                     <div class="alert alert-danger">
                         @TempData["message"]
                     </div>
                 }
                <form asp-controller="Account" asp-action="ResetPassword">
                    <div class="form-group row">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Mail Adresiniz</label>
                        <div class="col-md-6">
                            <input asp-for="Code" type="hidden" />
                            <input type="email" asp-for="Email" placeholder="örnek@gmail.com" class="form-control" /><br />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Yeni Şifre</label>
                        <div class="col-md-6">
                            <input type="password" asp-for="Password" placeholder="Sifreniz" class="form-control" /><br />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Yeni Şifre Tekrar</label>
                        <div class="col-md-6">
                            <input type="password" asp-for="ConfirmPassword" placeholder="Sifre tekrar" class="form-control" /><br />
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Şifremi Güncelle
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
